*{
    margin:0;
    padding:0;
}
.div1{
    position: absolute;
    left:40%;
    top:100px;
    height: 530px;
    width: 410px;
    background: rgb(207, 204, 204);
}
#input1{
    height: 50px;
    width: 370px;
    text-align: right;
    font-size: 32px;
    border:none;
    padding:20px;
    background: inherit;
}
#input2{
    height: 30px;
    width: 370px;
    text-align: right;
    font-size: 20px;
    border:none;
    background: inherit;
}
.table1 td{
    width: 80px;
    height: 80px;
    border:2px solid rgb(207, 204, 204);
    border-collapse: collapse;
    background: rgb(231, 228, 228);
    text-align: center;
}

.table1{
    border-collapse: collapse;
}